footer {
  background-color: $primary-color;
  color: $white;
  margin-top: 50px;
  text-align: center;
  padding: 30px 0;
  font-weight: 300;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  h3 {
    font-weight: 300;
  }
  .actions {
    margin-top: 25px;
  }
  a {
    color: $white;
    text-decoration: none;
    padding: 0 5px;

    &:hover {
      color: $white;
    }
    &:active, &:focus {
      outline: none;
    }
    @include desktop {
      color: rgba($white, 0.9);
    }
  }
  .soc_logo img {
    max-height: 115px;
  }
  .fg_logo {
    margin-top: 15px;
    img {
      height: 15px;
    }
  }
  .privacy {
    margin-top: 15px;
    font-size: 14px;
    text-decoration: underline;
  }
}
