.home.index {
  background-color: $black;
  max-height: 100%;
  header, .site-footer {
    display: none;
  }
  footer {
    margin-top: 0;
  }
  header.home_header {
    display: block;
    background-color: rgba($white, 0.9);
    // padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
  #skrollr-body {

  }
  .container {
    padding: 0;
    max-width: none;
  }
}
.home_container {
  padding: 20px;
  @include desktop {
    max-width: 960px;
    margin: 0 auto;
  }
}

#soc_about, #who_we_are {
  background-image: url(bg_hero.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
  text-align: center;
  padding: 15px 0;
  h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
  }
}
#who_we_are {
  background-image: url(bg_who_we_are.jpg);
  position: relative;
  .imgBG {
    position: absolute;
    left: -50%;
    width: 200%;
    top: 0;
    max-width: none;
    z-index: -1;
  }
  @include desktop {
    .imgBG {
      display: none;
    }
  }
}
#tool {
  padding: 25px 0;
  background-color: $white;
  line-height: 26px;
  .top_text {
    margin: 0 auto;
    @include desktop {
      max-width: 85%;
    }
  }
  .mobile_restrict {
    @include mobile {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .box_1, .box_2, .box_3 {
    padding: 25px;
    font-family: $heading-font-family;
    font-size: 19px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    @include mobile {
      width: 100%;
      margin: 15px auto;
    }
  }
  .box_1 {
    background: #ffa7b1;
    background: -moz-linear-gradient(left, #ffa7b1 0%, #edb8ce 100%);
    background: -webkit-linear-gradient(left, #ffa7b1 0%,#edb8ce 100%);
    background: linear-gradient(to right, #ffa7b1 0%,#edb8ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa7b1', endColorstr='#edb8ce',GradientType=1 );
  }
  .box_2 {
    background: #e8bbd5;
    background: -moz-linear-gradient(left, #e8bbd5 0%, #d4c9ef 100%);
    background: -webkit-linear-gradient(left, #e8bbd5 0%,#d4c9ef 100%);
    background: linear-gradient(to right, #e8bbd5 0%,#d4c9ef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8bbd5', endColorstr='#d4c9ef',GradientType=1 )
  }
  .box_3 {
    background: #d3cdf3;
    background: -moz-linear-gradient(left, #d3cdf3 0%, #d4cef3 100%);
    background: -webkit-linear-gradient(left, #d3cdf3 0%,#d4cef3 100%);
    background: linear-gradient(to right, #d3cdf3 0%,#d4cef3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cdf3', endColorstr='#d4cef3',GradientType=1 )
  }
  ul {
    li {
      line-height: 23px;
      margin-top: 15px;
      font-weight: 600;
    }
  }
  .button {
    background-color: $blue;
    font-size: 18px;
    padding: 18px 35px;
    font-weight: bolder;
    letter-spacing: 1px;
    @include desktop {
      font-size: 23px;
      padding: 23px 45px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.breakout {
  padding: 25px 0px;
  img {
    width: 280%;
    max-width: none;
    margin-left: -90%;
    max-height: 390px;
    @include desktop {
      width: 100%;
      margin-left: 0%;
    }
  }
}

#tool, #soc_about, #who_we_are {
  @include desktop {
    padding: 60px 0;
    font-size: 18px;
    line-height: 30px;

    h2, h3 {
      font-size: 23px;
      line-height: 35px;
    }
    h2 {
      font-size: 26px;
      font-weight: 500;
    }
  }
}
