body {
  font-family: $font-stack;
  &.home {
    background-color: $green;
    background-image: $green-yellow-gradient;

    header, footer {
      background: transparent;
      color: $black;
    }
  }
}

.actions {
  margin-top: 50px;
  text-transform: uppercase;
  .full-button {
    width: 49.5%;

    &:last-child {
      float: right;
    }
  }
}

.button {
  font-family: $heading-font-family;
  background-color: rgba($primary-color, 0.8);
  @include transition(background-color, 0.1s);

  &:hover, &:active {
    background-color: rgba($primary-color, 1);
  }
}

.work_together {
  background-color: $pink;
  background-image: $green-gradient;
}

.accel_learning {
  background-color: $purple;
  background-image: $purp-gradient;
}

.lead_change {
  background-color: $green;
  background-image: $yell-gradient;
}
