body {
  font-family: $font-stack;
  background-color: rgb(245,245,245);
}

p {
  max-width: 925px;
}

.actions {
  margin-top: 50px;

  .full-button {
    width: 49%;

    &:last-child {
      float: right;
    }
  }
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  font-family: $heading-font-family;
  background-color: rgba($primary-color, 0.8);
  text-transform: uppercase;

  @include transition(background-color, 0.1s);

  &:hover, &:active {
    background-color: rgba($primary-color, 1);
  }
}

.working_together {
  background-color: $working_together;
  background-image: $working_together-gradient;
}

.accelerating_learning {
  background-color: $accelerating_learning;
  background-image: $accelerating_learning-gradient;
}

.leading_change {
  background-color: $leading_change;
  background-image: $leading_change-gradient;
}

.attitude {
  background-color: $primary-color;
  background-color: $primary-color-gradient;
}

.button_to {
  display: inline;
}

select {
  background-color: $white;
  border: 1px solid $black;
  padding: 5px 4px 4px;
}
