body {
  font-family: $font-stack;
  background-color: rgb(245,245,245);
}

.container {
  @include desktop {
    max-width: 960px;
  }
}

.site-header_logo {
  img {
    vertical-align: middle;
  }
}

a {
  color: $blue;
}

p {
  max-width: 925px;
}

.actions {
  margin-top: 50px;

  .full-button {
    width: 49%;

    &:last-child {
      float: right;
    }
  }
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
  font-family: $heading-font-family;
  background-color: rgba($primary-color, 0.8);
  text-transform: uppercase;

  @include transition(background-color, 0.1s);

  &:hover, &:active {
    background-color: rgba($primary-color, 1);
  }
}

.white_btn {
  background-color: rgba($white, 0.9);
  color: $black;
  &:focus, &:active, &:hover {
    background-color: rgba($white, 1);
    color: $black;
  }
}

.working_together {
  background-color: $working_together;
  background-image: $working_together-gradient;
}

.accelerating_learning {
  background-color: $accelerating_learning;
  background-image: $accelerating_learning-gradient;
}

.leading_change {
  background-color: $leading_change;
  background-image: $leading_change-gradient;
}

.attitude {
  background-color: $primary-color;
  background-color: $primary-color-gradient;
}

.button_to {
  display: inline;
}

#{$all-text-inputs} {
  border: 1px solid $black;
}

select {
  // background-color: $white;
  // border: 1px solid $black;
  // padding: 5px 4px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid $black;
  border-radius: $base-border-radius;
  background-color: #fff;
  line-height: 1.5em;
  padding: 8px 52px 8px 13px;
  color: #333333;
  cursor: pointer;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #333 50%),linear-gradient(135deg, #333 50%, transparent 50%),linear-gradient(to right, #333, #333);
  background-position: calc(100% - 24px) calc(13px + 6px),calc(100% - 19px) calc(13px + 6px),calc(100% - 48px) 0px;
  background-size: 5px 5px, 5px 5px, 1px 65px;
  background-repeat: no-repeat;
  margin-bottom: 13px;
  width: 100%;
}

.right_float {
  float: right;
}
