- @attitudes.each_with_index do |attitude, i|
  - selected = @assessment.send(type).include?(attitude) ? 'selected' : ''
  = render partial: 'card', locals: { obj: attitude, i: i, class_name: 'attitude', type: type, f: f, selected: selected }
