=render partial: "shared/step_counter", locals: {number: 1};

%p=t('assessments.index.about')

- @areas.each do |a|
  .card{ class: a.name.parameterize.underscore }
    .card_title
      = a.name
    .card_description
      = a.description

.actions
  = link_to "back", :home_index, :class => "button full-button"
  = link_to "next", :new_assessment, :class => "button full-button"
