#results_page
  .text_block
    %h1= t('assessments.index.team_results.title')
    =t('assessments.index.team_results.about_html')
    .button=t('assessments.index.team_results.team_guide')

    - if @assessment.user.team.present?
      = link_to t('assessments.show.show_team.link'), team_assessments_path(@assessment.user.team), class: 'button blue'
    - else
      = link_to t('assessments.show.next_steps.invite'), new_assessment_team_path(@assessment), class: 'button blue'

  %hr

  = render partial: 'results', locals: { assessment: @assessment }

.finish
  =link_to 'Finish', home_finish_path, class: 'button'
