=render partial: 'shared/step_counter'

%p=t('assessments.index.about')

- @areas.each do |a|
  .card{ class: a.name.parameterize.underscore }
    .card_title
      = a.name
    .card_description
      = a.description

.actions
  = link_to "back", :home_index, :class => "button full-button"
  = link_to t('buttons.next'), step_2_assessment_path(@assessment), :class => "button full-button"
