= render partial: 'shared/step_counter'

=t('assessments.weak_attitudes.about_html')

= form_for @assessment do |f|

  #cards_sort_4.card_sorting
    = render partial: 'attitudes', locals: { areas: @areas, f: f, type: :weak_attitudes }

  = render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step6, back_link: :assess_step4, f: f};
