=render partial: "shared/step_counter", locals: {number: 4};

%p
  Now select the
  = Assessment::WEAK_SKILLS_COUNT
  cards which you think your colleagues would use to describe your least strong or least well-practiced skills.
  
= form_for @assessment do |f|
  #cards_sort_2.card_sorting
  
    = render partial: 'skills', locals: { areas: @areas, f: f, type: :weak_skills }
    
  =render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step5, back_link: :assess_step3, f: f};
