=render partial: "shared/step_counter", locals: {number: 6};

%p=t('assess.step_6.about').html_safe

= form_for @assessment do |f|

  #cards_sort_4.card_sorting
    = render partial: 'attitudes', locals: { areas: @areas, f: f, type: :weak_attitudes }

    = render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step6, back_link: :assess_step4, f: f};
