.card.accordion{ class: skill.area.name.parameterize.underscore }
  .accord_btn.card_title
    = skill.name
    %span.accord_arrow=fa_icon "chevron-down"
  .accord_content.card_description
    %p
      = skill.description
    - if skill.behaviours
      %h4 Key behaviours
      %ul
      - skill.behaviours.each do |b|
        %li
          = b.description
