.card.accordion{ class: skill.area.name.parameterize.underscore }
  .accord_btn.card_title
    = skill.name
    %span.accord_arrow=fa_icon "chevron-down"
  .accord_content.card_description
    = skill.description
