.card_sort_footer
  .inner
    .status
      Choose
      %span.num_left.bold 0
      more
      %span.card_type
    #status_indicator

    .actions
      = f.submit t('buttons.next'), :class => "button full-button fin_card_sort"

.actions
  - if @assessment.aasm_state == 'start'
    = link_to t('buttons.back'), new_assessment_path, :class => "button full-button"
  - else
    = f.submit t('buttons.back'), :name => 'back', :class => "button full-button"
  = f.submit t('buttons.next'), :class => "button full-button disabled next_button fin_card_sort"

:javascript
   window.onload = function() {
    if($(window).width() > 960)  {
      var topPoint = $('.card_sorting').position().top + 30;

      $('.card_sort_footer .inner').css('top', topPoint).css('width', $('.card_sort_footer').width()).followTo(($('.card_sorting').height()-210), topPoint);
    }
    $( window ).resize(function() {
      if($(window).width() > 960)  {
        var topPoint = $('.card_sorting').position().top + 30;

        $('.card_sort_footer .inner').css('top', topPoint).css('width', $('.card_sort_footer').width()).followTo(($('.card_sorting').height()-210), topPoint);
      }
    });
  };
