.card_sort_footer{"data-start" => "transform: translate(0px, 0px)"}
  .status
    Choose
    %span.num_left.bold 0
    more
    %span.card_type
  #status_indicator

  .actions
    = f.submit t('buttons.next'), :class => "button full-button fin_card_sort"

.actions
  - if @assessment.aasm_state == 'start'
    = link_to t('buttons.back'), new_assessment_path, :class => "button full-button"
  - else
    = f.submit t('buttons.back'), :name => 'back', :class => "button full-button"
  = f.submit t('buttons.next'), :class => "button full-button disabled next_button fin_card_sort"

:javascript
  window.onload = function() {
    $('.card_sort_footer').attr("data-end", "transform: translate(0px, "+ ($('.card_sorting').height()-210) +"px)");
    var s = skrollr.init();
    console.log($(document).height() - $('footer').height() + $('.card_sort_footer').data("start"));
  };
