.card_sort_footer
  .status
    Choose
    %span.num_left.bold 0
    more
    %span.card_type
  .actions
    = f.submit t('buttons.next'), :class => "button full-button fin_card_sort"

.actions
  = link_to t('buttons.back'), back_link, :class => "button full-button"
  = f.submit t('buttons.next'), :class => "button full-button disabled next_button fin_card_sort"
