%p In addition to skills, our research has also identified 9 attitudes that support successful experimentation and problem solving. These differ from skills in that you will have formed them over a greater period of time and they are more difficult to learn and develop.

%p Select the 3 attributes that you think your colleagues would most likely use to describe you.


#cards_sort_3.card_sorting
  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

=render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step6, back_link: :assess_step4};

