%p Let’s try and build up a picture of your skills so we can understand what strengths you bring to a team, and what your areas for development are.

%p
  Look through each of the cards below and
  %span.bold select the 5
  which you think your colleagues would use to describe your strongest skills.



#cards_sort_1.card_sorting
  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.accel_learning Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.accel_learning Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.accel_learning Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.accel_learning Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

=render partial: 'shared/card_sort_footer';

.actions
  = link_to "back", :assess_step2, :class => "button full-button"
  = link_to "next", :assess_step4, :class => "button full-button"
