%p Our research has shown that successful experimentation and problem solving results in greater, sustainable impact when teams can demonstrate skills and behaviours in the following 3 areas…

.card
  .card-title Working Together
  .card-description Engaging with citizens and stakeholders to create shared ownership of new solutions.

.card
  .card-title Leading Change
  .card-description Mobilising resources and legitimacy to make change happen.

.card
  .card-title Accelerating Learning
  .card-description Exploring and iterating new ideas to inform and validate solutions.

.actions
  = link_to "back", :home_index, :class => "button full-button"
  = link_to "next", :assess_step2, :class => "button full-button"
