%p Each of the three areas relates to a specific set of skills, activities and behaviours. You as an individual might have a range of these skills (At varying degrees of strength and weakness) across all 3 areas or you may naturally gravitate to only 1 or 2 of them.

.card
  .card-title Working Together
  .card-description list skills

.card
  .card-title Leading Change
  .card-description list skills

.card
  .card-title Accelerating Learning
  .card-description list skills

= link_to "back", :assess_step1, :class => "button"
= link_to "next", :assess_step3, :class => "button"
