%p Now select the 1 attribute that you think your colleagues would be least likely use to describe you.


#cards_sort_4.card_sorting
  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.attitude Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.


=render partial: 'shared/card_sort_footer', locals: {next_link: :home_index, back_link: :assess_step5};
