%p Now select the 1 attribute that you think your colleagues would be least likely use to describe you.


%p.bold CARD SORTING

.actions
  = link_to "back", :assess_step5, :class => "button full-button"
  = link_to "next", :home_index, :class => "button full-button"
