%p Now select the 2 cards which you think your colleagues would use to describe your least strong or least well-practiced skills.


#cards_sort_2.card_sorting
  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.work_together Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

  .card_sort_single
    .card_title.lead_change Brokering
    .card_description Mediating contrasting interests and acting as a negotiator between stakeholders and partners, to reduce friction and manage diverse interests.

=render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step5, back_link: :assess_step3};

