=render partial: "shared/step_counter", locals: {number: 2};

%p=t('asses.step_2.about_1')

%p=t('asses.step_2.about_2')

%p=t('asses.step_2.about_3')

.accord_cont
  .card.accordion.work_together
    .accord_btn.card_title
      =t('main_areas.wt.title')
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash;
        =t('main_areas.wt.skill_1.title')
      .skill
        &ndash;
        =t('main_areas.wt.skill_2.title')
      .skill
        &ndash;
        =t('main_areas.wt.skill_3.title')
      .skill
        &ndash;
        =t('main_areas.wt.skill_4.title')

  .card.accordion.lead_change
    .accord_btn.card_title
      =t('main_areas.lc.title')
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash;
        =t('main_areas.lc.skill_1.title')
      .skill
        &ndash;
        =t('main_areas.lc.skill_2.title')
      .skill
        &ndash;
        =t('main_areas.lc.skill_3.title')
      .skill
        &ndash;
        =t('main_areas.lc.skill_4.title')
      .skill
        &ndash;
        =t('main_areas.lc.skill_5.title')

  .card.accordion.accel_learning
    .accord_btn.card_title
      =t('main_areas.al.title')
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash;
        =t('main_areas.al.skill_1.title')
      .skill
        &ndash;
        =t('main_areas.al.skill_2.title')
      .skill
        &ndash;
        =t('main_areas.al.skill_3.title')
      .skill
        &ndash;
        =t('main_areas.al.skill_4.title')
      .skill
        &ndash;
        =t('main_areas.al.skill_5.title')

.actions
  = link_to "back", :assess_step1, :class => "button full-button"
  = link_to "next", :assess_step3, :class => "button full-button"
