%p Lets try and build up a picture of your skills so we know what strengths and weaknesses you bring to a team.

%p Look through each of the cards below and select the 5 which you think your colleagues would use to describe your strongest skills.


%p.bold CARD SORTING

= link_to "back", :assess_step2, :class => "button"
= link_to "next", :assess_step4, :class => "button"
