%p In addition to skills, our research has also identified 9 attitudes that support successful experimentation and problem solving. These differ from skills in that you will have formed them over a greater period of time and they are more difficult to learn and develop.

%p Select the 3 attributes that you think your colleagues would most likely use to describe you.


%p.bold CARD SORTING

.actions
  = link_to "back", :assess_step4, :class => "button full-button"
  = link_to "next", :assess_step6, :class => "button full-button"
