=render partial: "shared/step_counter", locals: {number: 5};

%p=t('asses.step_5.about_1')
%p=t('asses.step_5.about_2').html_safe

#cards_sort_3.card_sorting
  #at_1.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_1.title')
    .card_description=t('main_areas.attitudes.at_1.about')

  #at_2.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_2.title')
    .card_description=t('main_areas.attitudes.at_2.about')

  #at_3.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_3.title')
    .card_description=t('main_areas.attitudes.at_3.about')

  #at_4.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_4.title')
    .card_description=t('main_areas.attitudes.at_4.about')

  #at_5.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_5.title')
    .card_description=t('main_areas.attitudes.at_5.about')

  #at_6.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_6.title')
    .card_description=t('main_areas.attitudes.at_6.about')

  #at_7.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_7.title')
    .card_description=t('main_areas.attitudes.at_7.about')

  #at_8.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_8.title')
    .card_description=t('main_areas.attitudes.at_8.about')

  #at_9.card_sort_single
    .card_title.attitude=t('main_areas.attitudes.at_9.title')
    .card_description=t('main_areas.attitudes.at_9.about')

=render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step6, back_link: :assess_step4};

