%p Now select the 2 cards which you think your colleagues would use to describe your weakest skills


%p.bold CARD SORTING

.actions
  = link_to "back", :assess_step3, :class => "button full-button"
  = link_to "next", :assess_step5, :class => "button full-button"
