=render partial: "shared/step_counter", locals: {number: 4};

%p=t('assess.step_4.about').html_safe

#cards_sort_2.card_sorting
  #lc_1.card_sort_single.lc
    .card_title.lead_change=t('main_areas.al.skill_1.title')
    .card_description=t('main_areas.lc.skill_1.about')

  #lc_2.card_sort_single.lc
    .card_title.lead_change=t('main_areas.al.skill_2.title')
    .card_description=t('main_areas.lc.skill_2.about')

  #lc_3.card_sort_single.lc
    .card_title.lead_change=t('main_areas.al.skill_3.title')
    .card_description=t('main_areas.lc.skill_3.about')

  #lc_4.card_sort_single.lc
    .card_title.lead_change=t('main_areas.al.skill_4.title')
    .card_description=t('main_areas.lc.skill_4.about')

  #lc_5.card_sort_single.lc
    .card_title.lead_change=t('main_areas.al.skill_5.title')
    .card_description=t('main_areas.lc.skill_5.about')

  #al_1.card_sort_single.al
    .card_title.accel_learning=t('main_areas.al.skill_1.title')
    .card_description=t('main_areas.al.skill_1.about')

  #al_2.card_sort_single.al
    .card_title.accel_learning=t('main_areas.al.skill_2.title')
    .card_description=t('main_areas.al.skill_2.about')

  #al_3.card_sort_single.al
    .card_title.accel_learning=t('main_areas.al.skill_3.title')
    .card_description=t('main_areas.al.skill_3.about')

  #al_4.card_sort_single.al
    .card_title.accel_learning=t('main_areas.al.skill_4.title')
    .card_description=t('main_areas.al.skill_4.about')

  #al_5.card_sort_single.al
    .card_title.accel_learning=t('main_areas.al.skill_5.title')
    .card_description=t('main_areas.al.skill_5.about')

  #wt_1.card_sort_single.wt
    .card_title.work_together=t('main_areas.wt.skill_1.title')
    .card_description=t('main_areas.wt.skill_1.about')

  #wt_2.card_sort_single.wt
    .card_title.work_together=t('main_areas.wt.skill_2.title')
    .card_description=t('main_areas.wt.skill_2.about')

  #wt_3.card_sort_single.wt
    .card_title.work_together=t('main_areas.wt.skill_3.title')
    .card_description=t('main_areas.wt.skill_3.about')

  #wt_4.card_sort_single.wt
    .card_title.work_together=t('main_areas.wt.skill_4.title')
    .card_description=t('main_areas.wt.skill_4.about')

=render partial: 'shared/card_sort_footer', locals: {next_link: :assess_step5, back_link: :assess_step3};

