=render partial: "shared/step_counter", locals: {number: 1};

%p=t('assess.step_1.about')

.card.work_together
  .card_title=t('main_areas.wt.title')
  .card_description=t('main_areas.wt.about')

.card.lead_change
  .card_title=t('main_areas.lc.title')
  .card_description=t('main_areas.lc.about')

.card.accel_learning
  .card_title=t('main_areas.al.title')
  .card_description=t('main_areas.al.about')

.actions
  = link_to t('buttons.back'), :home_index, :class => "button full-button"
  = link_to t('buttons.next'), :assess_step2, :class => "button full-button"
