%p Let’s try and build up a picture of your skills so we can understand what strengths you bring to a team, and what your areas for development are.

%p Look through each of the cards below and select the 5 which you think your colleagues would use to describe your strongest skills.


%p.bold CARD SORTING

.actions
  = link_to "back", :assess_step2, :class => "button full-button"
  = link_to "next", :assess_step4, :class => "button full-button"
