=render partial: "shared/step_counter", locals: {number: 2};

%p Each of the 3 areas relates to a specific set of skills, activities and behaviours.

%p These are rarely all found in one individual, and instead need to be present within a wider team. The challenge (and opportunity) is to combine them in ways that make the team greater than its individual members.

%p You as an individual might still have a range of these skills (at varying degrees of strength and weakness) across all 3 areas or you may naturally gravitate to only 1 or 2 of them.

.accord_cont
  .card.accordion.work_together
    .accord_btn.card_title
      Working Together
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash; Citizen &amp; Stakeholder Engagement
      .skill
        &ndash; Creative Facilitation
      .skill
        &ndash; Building Bridges
      .skill
        &ndash; Brokering

  .card.accordion.lead_change
    .accord_btn.card_title
      Leading Change
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash; Political &amp; Bureaucratic Awareness
      .skill
        &ndash; Financing Change
      .skill
        &ndash; Intrapreneurship
      .skill
        &ndash; Demonstrating Value
      .skill
        &ndash; Storytelling &amp; Advocacy

  .card.accordion.accel_learning
    .accord_btn.card_title
      Accelerating Learning
      %span.accord_arrow=fa_icon "chevron-down"
    .accord_content.card_description
      .skill
        &ndash; Future Acumen
      .skill
        &ndash; Prototyping &amp; Iterating
      .skill
        &ndash; Data Literacy &amp; Evidence
      .skill
        &ndash; Systems Thinking
      .skill
        &ndash; Tech Literacy

.actions
  = link_to "back", :assess_step1, :class => "button full-button"
  = link_to "next", :assess_step3, :class => "button full-button"
