%h1 Nesta Skills & Innovation Tool

%p Hello! Welcome to our new skills and innovation tool

%p We've done a bunch of research about what skills and attitudes are required to deliver sustained innovation and improvement within Public Services using experimentation and problem solving. This tool has been designed so that you can...

%ul.default
  %li Make sense of our findings.
  %li Reflect on & test your own skills and attitudes.
  %li Compare your results with colleagues and build a picture for your team.

%p image

= link_to "Get Started", :assess_step1, :class => "button"

