%header.home_header{"data-200" => "opacity:0;", "data-275" => "opacity:1;"}
  .container
    .site-header_logo
      =image_tag("logo.svg")
#skrollr-body
  %section#soc_about{"data-top" => "background-position-y: 0px;", "data-top-bottom" => "background-position-y: -120px;"}
    .breakout
      =image_tag("states_of_change_logo_desktop_large.svg")
    .home_container
      %h3=t('home.soc_strapline')
      %h3=t('home.soc_about')


  %section#tool
    .home_container
      %h1=t('home.title')
      =t('home.intro_html')
      %ul.default
        %li{"data-bottom-top" => "transform: translateX(-120%)", "data-100-bottom-top" => "transform: translateX(0%)"}
          Make sense of our findings
        %li
          Reflect on &amp; test your own skills and attitudes.
        %li
          Compare your results with colleagues and build a picture for your team.

      .center.actions
        = link_to t('buttons.start'), :assessments, :class => "button"

  %footer
    .home_container
      = render 'layouts/site_footer'
:javascript
  window.onload = function() {
    var s = skrollr.init();
  };
