%header.home_header{"data-200" => "opacity:0;", "data-275" => "opacity:1;"}
  .home_container
    .site-header_logo
      =image_tag("logo.svg")

#skrollr-body
  %section#soc_about{"data-top" => "background-position-y: 0px;", "data-top-bottom" => "background-position-y: -95px;"}
    .breakout
      =image_tag("states_of_change_logo_desktop_large.svg")
    .home_container
      %h2=t('home.soc_strapline')
      %h3=t('home.soc_about')


  %section#tool
    .home_container
      .top_text
        %h1=t('home.title')
        =t('home.intro_html')
      .inner_container.mobile_restrict
        .box_1.third
          Make sense of our findings and understand our thinking on the skills and attitudes required for innovation.
        .box_2.third
          Reflect on &amp; test your own skills &amp; attitudes. Giving advice on how you might make the best of your strengths.
        .box_3.third
          Compare your results with colleagues &amp; build a picture for your team. Helping you identify &amp; deal with gaps.

      .center.actions
        = button_to t('buttons.start'), :assessments, method: :post, class: "button"
  %section#who_we_are{"data-bottom-top" => "background-position-y: 0px;", "data-top-bottom" => "background-position-y: -95px;"}
    =image_tag("bg_who_we_are.jpg", class: 'imgBG', "data-bottom-top" => "top: -200px;", "data-top-bottom" => "top: 0px;")
    .home_container
      %h2 Who we are
      %h3 States of Change has been initiated by Nesta, but is a collective brought to life by our faculty, our government and delivery partners and the wider community of practice.
      .actions
        = link_to "Find out More", "#", :class => "button white_btn"
  %footer
    .home_container
      = render 'layouts/site_footer'

:javascript
  window.onload = function() {
    var s = skrollr.init();
  };
