%h1 Nesta Skills & Innovation Tool

%p Hello! Welcome to your new skills and innovation tool.

%p We've done a bunch of research about what skills and attitudes are required to deliver sustained innovation and improvement within Public Sevices using experimentation and problem solving.

%p This tool has been designed so that you can...

%ul.default
  %li Make sense of our findings.
  %li reflect on & test your own skills and attitudes.
  %li share your results with colleagues and build a picture for your team.

%p image

= link_to "Get Started", :assess_step1, :class => "button"

