.accordion {
  .accord_btn {
    &:hover {
      cursor: pointer;
    }
  }
  .accord_arrow:first-of-type {
    float: right;
    @include transition(all 0.5s);
  }
  .accord_content {
    display: none;
    padding-top: 15px;
  }

  &.open {
    .accord_arrow.rotate {
      @include transform(rotate(180deg));
    }
  }
}
