.card {
  margin-top: 25px;
  background-color: $black;
  color: $white;

  .card_title {
    font-family: $heading-font-family;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .card_description {
    margin-top: 10px;

    .skill {
      margin-top: 10px;
    }
  }
}

.card_sort_single {
  background-color: $white;
  color: $black;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 2px 0 rgba($black,.14), 0 3px 1px -2px rgba($black,.2), 0 1px 5px 0 rgba($black,.12);
  margin: 30px 0;
  @include transition(box-shadow 0.3s);

  .card_title {
    color: $white;
    font-size: 18px;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    padding: $container-padding/2 $container-padding/1.5;
  }
  .card_description {
    padding: $container-padding/2 $container-padding/1.5;
  }

  &.selected {
    background-color: gray;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }
}


.card_sort_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 7px;
  background-color: $white;
  border-top: rgba($black, 0.4) solid 1px;
  z-index: 999;
  // @include transition(height, 0.4s);

  .actions {
    margin-top: 10px;
    display: none;

    .full-button {
      width: 100%;
    }
  }
}
