// paste in any varibles to override from GEFF variables.scss file

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$heading-font-family: 'Roboto Slab', serif;
$font-stack: "Lucida Sans Unicode", "Lucida Grande", "Helvetica Neue", "Helvetica", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

$blue: #A79be7;
$yellow: #FF9A3F;
$pink: #e83b5c;

$blue-gradient: linear-gradient(-94deg, lighten($blue, 3%) 3%, $blue 100%);
$yell-gradient: linear-gradient(-94deg, lighten($yellow, 3%) 3%, $yellow 100%);
$pink-gradient: linear-gradient(-94deg, lighten($pink, 3%) 3%, $pink 100%);

$black: #434048;

$primary-color: $black;

$base-border-radius: 3px;


$leading_change: $pink;
$leading_change-gradient: $pink-gradient;

$accelerating_learning: $blue;
$accelerating_learning-gradient: $blue-gradient;

$working_together: $yellow;
$working_together-gradient: $yell-gradient;
