// paste in any varibles to override from GEFF variables.scss file

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

$heading-font-family: 'Roboto Slab', serif;
$font-stack: "Lucida Sans Unicode", "Lucida Grande", "Helvetica Neue", "Helvetica", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

// ORIGINAL COLOURS
$old-green: #8DD0C6;
$old-yellow: #F6DA9A;
$old-pink: #F7A0B2;
$old-purple: #C29FDA;

//NEW COLOURS
// $green: #FDC66E;
// $yellow: #FDC66E;
// $pink: #68A2F7;
// $purple: #C58BE2;

$green: #009688;
$yellow: #FFC107;
$pink: #E91E63;
$purple: #9C27B0;

$blue: #2F1E52;

$green-gradient: linear-gradient(-94deg, lighten($green, 3%) 3%, $green 100%);
$yell-gradient: linear-gradient(-94deg, lighten($yellow, 3%) 3%, $yellow 100%);
$purp-gradient: linear-gradient(-94deg, lighten($purple, 3%) 3%, $purple 100%);

$primary-color-gradient: linear-gradient(-94deg, lighten($primary-color, 3%) 3%, $primary-color 100%);

$pink-purple-gradient: linear-gradient(98deg, $old-pink 0%, $old-purple 140%);
$green-yellow-gradient: linear-gradient(98deg, $old-green -10%, $old-yellow 120%);

$pink-gradient-subtle: linear-gradient(98deg, $old-pink -30%, $old-purple 170%);
$green-gradient-subtle: linear-gradient(98deg, $old-green -50%, $old-yellow 150%);


$pink-gradient-original: linear-gradient(98deg, $old-pink 0%, $old-purple 100%);
$green-gradient-original: linear-gradient(98deg, $old-green 0%, $old-yellow 105%);

$black: #434149;
$black-original: #434149;


$primary-color: $blue;

$base-border-radius: 3px;


$lead_change: $green;
$lead_change-gradient: $green-gradient;

$acel_learning: $purple;
$acel_learning-gradient: $purp-gradient;

$work_together: $yellow;
$work_together-gradient: $yell-gradient;
