%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

%link{:href => "/manifest.json", :rel => "manifest"}
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
%meta{:content => "#000000", :name => "theme-color"}

%title BarnardosLC

/ = favicon_link_tag 'favicon.ico'

%link{:href => "https://fonts.googleapis.com/css?family=Pontano+Sans", :rel => "stylesheet", :type => "text/css"}

= stylesheet_link_tag    "application"
= javascript_include_tag "application"
= csrf_meta_tags
