.container
  %h3 Keep Connected
  %hr
  =image_tag("logo_footer.svg")
  %p We’ll be developing our global faculty, R&D programme and learning programmes in different parts of the world over the coming months.
  %hr
  %p To keep up to date with what we’re doing, sign up to receive our updates or send us an email.
  .actions
    =link_to "Sign up Here", "https://www.nesta.org.uk/sign-our-weekly-newsletter", target: '_blank', class: 'button white_btn'
