.container
  %h3 Keep Connected
  %hr
  .half.soc_logo
    %p=image_tag("logo_footer.svg")
  .half
    %p We’ll be developing our global faculty, R&D programme and learning programmes in different parts of the world over the coming months.
  .full_width.fg_logo
    Created in collaboration with
    =link_to 'https://www.wearefuturegov.com/', target: '_blank' do
      =image_tag("fg_logo.png")

  .full_width.privacy
    =link_to 'Privacy policy', home_privacy_path
